*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    color: white;
    background-color: rgb(0, 5, 13);
}
header{
    padding-top: 2%;
	padding-right: 7%;
	padding-bottom: 2%;
	padding-left: 7%;
	display: flex;
	justify-content: space-between;
}
#logo{
    margin: auto;
}
nav ul{
    margin-top: 3%;
}
nav ul li{
    display: inline-block;
}
nav ul li a{
    font-size: 1.2rem;
    padding-right: 2rem;
    text-transform: uppercase;
    border: 1px;
    border-style: solid;
}
nav ul li p{
    font-size: 1.2rem;
    padding-right: 2rem;
    text-transform: uppercase;
    border: 1px;
    border-style: solid;
}
nav ul li ul li a{
    font-size: 0.6rem;
    padding: 1rem;
    text-transform: uppercase;
    border: 1px;
    border-style: solid;
}
a{
    color: #fff;
    text-decoration: none;
}
.icon { display: none; }
section{
    max-width: 1300px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
#main{
    background-image: linear-gradient(to right, rgba(0, 5, 13,100), rgba(255, 255, 255, 0) 90%), linear-gradient(to top,rgba(0, 5, 13,100), rgba(255, 255, 255, 0) 50%), url(../Imgs/FondoIndex.jpg);
    background-size: cover;
    background-position: center;
}
.container{
    width: 100%;
    height: 650px;
    display: flex;
}
.div_principal{
    margin: 2%;
    display: flex;
    align-content: flex-end;
    flex-wrap: wrap;
}
.div_principal div{
    width: 100%;
    margin-right: 30%;
}
.tittle{
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    font-size: 40px;
    letter-spacing: 17px;
    line-height: 26px;
    text-transform: uppercase;
}
.div_temp1{
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    font-size: 18px;
    letter-spacing: 3px;
    line-height: 18px;
}
.div_argumento{
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0.5px;
}
.second{
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
}
.second div{
    width: 100%;
    text-align: center;
}
.second div h4{
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    font-size: 18px;
    letter-spacing: 2px;
    line-height: 18px;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: black;
    color: #fff;
}
@media (max-width: 480px) { 
    header{
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        position: sticky;
        top: 0;
        z-index: 1;
        background-color: rgb(0, 5, 13);
    }
    header div, header a {
        flex: 1 0 50%;
    }
    header nav {
        flex-basis: 100%;
    }
    .icon {
        display: block;
        padding-right: 0.6rem;
        text-align: right;
    }
    nav ul {
        display: none;
    }
    nav.responsive ul {
        display: block;
    }
    nav.responsive ul li {
        display: block;
        text-align: center;
        padding: 0.5rem;
    }
    nav.responsive ul li a {
        padding-right: 0;
    }
    nav.responsive ul li p {
        padding-right: 0;
    }

    section{
        max-width: 480px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 20%;
    }
    #main{
        background-position: top;
        background-size:contain;
        background-repeat: no-repeat;
        padding: 1%;
    }
    .div_principal{
        margin-top: 60%;
        display: block;
        height: 300px;
    }
    .tittle{
        text-align: center;
        padding: 5%;
        font-size: 25px;
        letter-spacing: 14px;
        line-height: 26px;
        width: 100%;
    }
    .div_temp1{
        text-align: center;
        padding: 2%;
    }
    .div_argumento{
        padding: 5%;
    }
    .second{
        display: none;
        margin-top: 0%;
    }
    h2{
        font-size: 1rem;
    }
    h4{
        font-size: 1rem;
    }
    footer{
        height: 80px;
    }
}