*{
    max-width: 1300px;
    margin:0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
h1{
    font-size: 2.8rem;
    color: rgb(172, 109, 42);
    text-align: center;
    margin: 1%;
    -webkit-text-stroke: 1px black;
    font-size: 3rem;
}
h2{
    font-size: 1.8rem;
    line-height: 20px;
    color: rgb(172, 109, 42);
    margin: 1%;
    -webkit-text-stroke: 1px black;
}
h3{
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    font-size: 2rem;
    line-height: 24px;
    letter-spacing: 0.5px;
    color: rgb(172, 109, 42);
    text-align: center;
    margin: 1%;
    -webkit-text-stroke: 1px black;
}
h4{
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    font-size: 1.4rem;
    line-height: 20px;
    letter-spacing: 0.5px;
    -webkit-text-stroke: 1px black;
}

p{
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    font-size: 1.4rem;
    line-height: 24px;
    letter-spacing: 0.5px;
}
/*INDEX*/
html{
    margin: 0 auto;
}
body{
    font-family: 'Roboto', sans-serif;
    color: white;
    background-color: rgb(0, 5, 13);
}
a{
	text-decoration: none;
	color:#fff;
}
header{
	display: flex;
    justify-content: space-between;
    height: 70px;
    z-index: 9999;
}
#logo{
    display: flex;
    align-items: center;
    padding-right: 2%;
    padding-left: 2%;
    margin-right: 0.5%;
}
header div a img{
    display: block;
}
nav{
    display: flex;
    height: 100%;
    justify-content: space-between;
    z-index: 9999;
}
.menu_nav{
    height: 100%;
    display: flex;
}
.menu_item{
    display: inline-block;
    list-style: none;
    height: 100%;
    --clip: polygon(0 0, 100% 0, 100% 0, 0 0);
    text-transform: uppercase;
    position: relative;
}
.menu_item:hover{
    --clip: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
.menu_link{
    color: #fff;
    text-decoration: none;
    padding: 0 30px;
    display: flex;
    width: max-content;
    height: 100%;
    align-items: center;
    margin: auto;
}
.menu_link--inside{
    justify-content: center;
    padding: 0;
}
.menu_inside{
    list-style: none;
    clip-path: var(--clip);
    transition: clip-path 0.3s;
    background-color: rgb(0, 5, 13);
}
.menu_item_inside{
    height: 3rem;
}
.menu_item_inside a{
    width: 100%;
    padding: auto;
}
.menu_link:hover{
    background-color: #191e25;
    box-shadow: inset 0px 10px 30px #0a0c29;
}
nav ul li p{
    cursor: pointer;
}
.icon { 
    display: none; 
}
/* INDEX */
section{
    max-width: 1300px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
#main{
    background-image: linear-gradient(to right, rgba(0, 5, 13,100), rgba(255, 255, 255, 0) 90%), linear-gradient(to top,rgba(0, 5, 13,100), rgba(255, 255, 255, 0) 50%), url(../Imgs/FondoIndex.jpg);
    background-size: cover;
    background-position: center;
}
.container{
    width: 100%;
    height: 650px;
    display: flex;
}
.div_principal{
    margin: 2%;
    display: flex;
    align-content: flex-end;
    flex-wrap: wrap;
}
.div_principal div{
    width: 100%;
    margin-right: 30%;
}
.tittle{
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    letter-spacing: 15px;
    line-height: 26px;
    text-transform: uppercase;
    font-weight: bold;
}
.tittle h1{
    text-align: left;
    color: #fff;
}
.div_temp1{
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    font-size: 1.4rem;
    letter-spacing: 3px;
    line-height: 18px;
}
.second{
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
}
.second div{
    width: 100%;
    text-align: center;
}
.second div h4{
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    font-size: 1.5rem;
    letter-spacing: 2px;
    line-height: 18px;
    -webkit-text-stroke: 0;
}
.second iframe{
    width: 750px;
    height: 422px; 
}
/*GALERIA*/
.main_galery{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
#galery_background{
    height: 650px;
    background-image: linear-gradient(to top,rgba(0, 5, 13,100), rgba(255, 255, 255, 0) 50%), url(../Imgs/Galeria/16.jpg);
    background-size:contain;
    background-repeat: no-repeat;
}
.lb-caption{
    color: #fff;
}
.galery_container{
    display: inline-flex;
    flex-wrap:wrap;
    width: 95%;
    justify-content: center;
    align-content: center;
    margin: auto;
    gap: 25px;
    padding: 2% 0;
}
.example-image-link{
    border: 1px solid rgb(21, 46, 51);
    box-shadow: 5px 5px 15px 0 rgb(21, 46, 51);
}
.example-image{
    height: 100%;
    width: 100%;
}
/*CONTACTO*/
.main_contacto{
    margin: auto;
    padding: 4% ;
    background-image: url(./Imgs/Galeria/7.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}
.contact_form{
    position: relative;
	width: 460px;
    height: auto;
	border-radius: 10px;
	padding: 4%;
    background-color: rgb(48, 103, 114);
}
input{
	background-color: #fbfbfb;
	width: 100%;
	height: 40px;
	border-radius: 5px;
	border-style: solid;
	border-width: 1px;
	border-color: #000;
	margin-top: 10px;
	padding-left: 10px;
    margin-bottom: 20px;
}
textarea{
    background-color: #fbfbfb;
	width: 100%; 
	height: 150px; 
	border-radius: 5px;  
	border-style: solid; 
	border-width: 1px; 
	border-color: #000; 
	margin-top: 10px;  
	padding-left: 10px;
    margin-bottom: 20px; 
    padding-top: 15px; 
}
label{
    display: block; 
	float: center; 
    color: rgb(172, 109, 42);
    font-weight: bold;
    font-size: 1.3rem;
}
.boton-enviar{
	height: 45px; 
	padding-left: 5px;
	padding-right: 5px; 	
	margin-bottom: 20px; 
	margin-top: 10px; 	
	text-transform: uppercase;
	background-color: rgb(172, 109, 42); 
	border-color: #000; 
	border-style: solid; 
	border-radius: 10px;	
	width: 100%;   
    cursor: pointer;
}
.boton-enviar p{
	color: #000; 
    font-weight: 600;
}
span{
	color: #000;
}
.aviso{
	font-size: .8rem;  
	color: #000000;
}
#form_title{  
	text-align: left; 
	padding-bottom: 20px;
    -webkit-text-stroke: 1px black;
}
#form_subtitle{
    text-align: start;
	font-size: 1.7rem; 
	padding-bottom: 30px;
	color: #0e0e0e;
    -webkit-text-stroke: 0;
}
::-webkit-input-placeholder {
    color: #a8a8a8;
}
::-webkit-textarea-placeholder {
    color: #a8a8a8;
}
.formulario input:focus{
	outline:0;
	border: 1px solid #97d848;
}
.formulario textarea:focus{
	outline:0;
	border: 1px solid #97d848;
}
/*TEMPORADA1*/
#temp_background{
    height: 650px;
    background-image: linear-gradient(to top,rgba(0, 5, 13,100), rgba(255, 255, 255, 0) 50%), url(../Imgs/Galeria/26.jpg);
    background-size:contain;
    background-repeat: no-repeat;
}
.main_temp1{
    padding: 2%;
    width: 95%;
    margin: auto;
}
.episodios_lista{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.lista_items{
    display: flex;
    height: 100%;
}
.lista_episodios_container{
    display: inline-flex;
    width: 100%;
    height: 100%;
    padding: 2%;
    border-radius: 25px;
    background-color: rgb(13, 29, 32);
    transition: all .5s;
}
.lista_episodios_container:hover{
    transition: all .5s;
    background-color: rgb(38, 85, 94);
}
.episodio_imagen{
    width: 30%;
}
.episodio_imagen img{
    display: flex;
    object-fit: cover;
    width: 100%;
    border-radius: 15px;
    margin-left: 1%;
}
.episodio_desc{
    display: flex;
    flex-direction: column;
    width: 70%;
    justify-content: space-around;
    padding: 5%;
    font-size: 1.5rem;
}
.episodio_desc h4{
text-decoration: overline;
-webkit-text-stroke: 0;
}
.episodio_desc p{
    text-align: start;
}
/* INFORMACION */
#info_background{
    height: 650px;
    background-image: linear-gradient(to top,rgba(0, 5, 13,100), rgba(255, 255, 255, 0) 50%), url(../Imgs/Galeria/5.jpg);
    background-size:contain;
    background-repeat: no-repeat;
}
.datos_tecnicos p span{
    font-size: 1.4rem;
    line-height: 24px;
    letter-spacing: 0.5px;
    color: #fff;
    font-weight: bold;
}
.criticas p span{
    font-size: 1.4rem;
    line-height: 24px;
    letter-spacing: 0.5px;
    color: #fff;
    font-weight: bold;
}
.datos_tecnicos{
    display: inline-flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 2%;
    border-radius: 25px;
    gap: 25px;
    align-items: center;
    font-size: 1.5rem;
    letter-spacing: 0.05rem;
    line-height: 2.5rem;
}
.datos_tecnicos div{
    padding-left: 2%;
    border-radius: 15px;
    background-color: rgb(13, 29, 32);
    width: 95%;
    transition: all .5s;
}
.datos_tecnicos div:hover{
    transition: all .5s;
    background-color: rgb(38, 85, 94);
}
.criticas{
    display: inline-flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 2%;
    border-radius: 25px;
    gap: 25px;
    align-items: center;
    font-size: 1.5rem;
    letter-spacing: 0.05rem;
    line-height: 2.5rem;
}
.criticas h3{
    font-size: 2rem;
    text-decoration: underline;
}
.criticas div{
    padding-left: 2%;
    border-radius: 15px;
    background-color: rgb(13, 29, 32);
    width: 95%;
    transition: all .5s;
}
.criticas div:hover{
    transition: all .5s;
    background-color: rgb(38, 85, 94);
}
.criticas a{
    display: block;
    padding-top: 2%;
    padding-left:  1%;
    font-weight: bold;
    text-decoration-line: overline;
}
/* PERSONAJES */
#personajes_background{
    height: 650px;
    background-image: linear-gradient(to top,rgba(0, 5, 13,100), rgba(255, 255, 255, 0) 80%), url(../Imgs/Galeria/17.jpg);
    background-size:contain;
    background-repeat: no-repeat;
}
.section_personajes{
    padding: 2%;
    width: 95%;
    margin: auto;
}
.section_personajes h1{
    margin-bottom: 3%;
}
.personaje_container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    padding-top: 0.5%;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 1%;
    border-radius: 25px;
    background-color: rgb(13, 29, 32);
    transition: all .5s;
    margin-bottom: 6%;
}
.personaje_container:hover{
    transition: all .5s;
    background-color: rgb(38, 85, 94);
}
.personaje_container h2{
    width: 100%;
    text-align: center;
    margin-top: 0.5%;
    margin-bottom: 0.5;
}
.personaje_img{
    width: 30%;
}
.personaje_img img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.descripcion{
    width: 70%;
    padding-top: 0;
    padding-left: 1%;
    padding-right: 1%;
}
/* FOOTER */
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: black;
    color: #fff;
    font-size: 1.4rem;
}
@media (max-width: 480px) { 
    *{
        max-width: 480px;
    }
    header{
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        position: sticky;
        background-color: rgb(0, 5, 13);
        top: 0;
        z-index: 1;
        height: 60px;
    }
    #logo{
        margin-top: 4px;
        margin-bottom: 4px;
        display: flex;
    }
    .icon {
        margin-top: 4px;
        margin-bottom: 4px;
        display: flex;
    }
    nav {
        display: none;
        flex-basis: 100%;
    }
    nav.responsive {
        display: block;
    }
    nav.responsive ul {
        display: block;
        margin-left: 60%;
    }
    nav.responsive ul li {
        display: block;
        text-align: center;
        background-color: rgb(0, 5, 13);
    }
    nav.responsive .menu_link{
        color: #fff;
        display: flex;
        height: 100%;
        width: 100%;
        border: 0.1px solid rgb(0, 5, 40);
    }
    .menu_item--show{
        position: relative;
    }
    .menu_inside{
        position: absolute;
        right: 192px;
        top: 0;
        width: 100%;
    }
    .menu_item_inside{
        border: 0.1px solid rgb(0, 5, 40);
    }
    /* INDEX */
    section{
        max-width: 480px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 20%;
    }
    #main{
        background-image: url(../Imgs/FondoIndex.jpg);
        background-position: top;
        background-size:contain;
        background-repeat: no-repeat;
        padding: 1%;
    }
    .div_principal{
        margin-top: 60%;
        display: block;
        height: 300px;
    }
    .div_principal div{
        width: 100%;
        margin-right: 0;
    }
    .tittle{
        padding: 0;
        letter-spacing: 5px;
        line-height: 26px;
        width: 100%;
        margin-top: 5%;
        margin-bottom: 5%;
    }
    .tittle h1{
        margin: 0;
        text-align: center;
        color: rgb(172, 109, 42);
    }
    .div_temp1{
        text-align: center;
        margin-top: 2%;
        margin-bottom: 2%;
    }
    .div_temp1 a{
        font-size: 1.4rem;
    }
    .div_argumento{
        font-size: 1.1rem;
    }
    .second iframe{
        width: 448px;
        height: 252px; 
    }
    .second div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    h2{
        font-size: 1rem;
    }
    h4{
        font-size: 1rem;
    }
    .contact_form{
		top: -50px;
	}
    /* GALERIA */
    .main_galery{
        width: 100%;
    }
    .galery_container a{
        height: 200px;
        width: 200px;
    }
    #galery_background{
        max-width: 480px;
        height: 250px;
        background-image: url(../Imgs/Galeria/16.jpg);
        background-size:contain;
        background-repeat: no-repeat;
    }

    /* TEMPORADA1 */
    #temp_background{
        max-width: 480px;
        height: 250px;
        background-image: url(../Imgs/Galeria/26.jpg);
        background-size:contain;
        background-repeat: no-repeat;
    }
    .main_temp1 h1{
        margin-bottom: 5%;
    }
    .episodio_imagen{
        width: 90%;
        margin: auto;
        margin-bottom: 5%;
    }
    .episodio_imagen img{
        margin: 0;
    }
    .lista_episodios_container{
        display: block;
    }
    .episodio_desc{
        margin: auto;
        padding-top: 3%;
        font-size: 1.3rem;
        width: 100%;
    }
    .episodio_desc h4{
        font-size: 1.3rem;
    }
    /* PERSONAJES */
    .personaje_container{
        flex-direction: column;
    }
    #personajes_background{
        max-width: 480px;
        height: 250px;
        background-image: url(../Imgs/Galeria/17.jpg);
        background-size:contain;
        background-repeat: no-repeat;
    }
    .personaje_container h2{
        margin-top: 3%;
        margin-bottom: 3%;
        padding-top: 3%;
        padding-bottom: 3%;
        font-size: 1.8rem;
    }
    .personaje_img{
        width: 100%;
    }
    .descripcion{
        margin-top: 3%;
        margin-bottom: 3%;
        padding-top: 3%;
        padding-bottom: 3%;
        width: 100%;
    }
    /* INFORMACION */
    #info_background{
        max-width: 480px;
        height: 250px;
        background-image: url(../Imgs/Galeria/5.jpg);
        background-size:contain;
        background-repeat: no-repeat;
    }
    footer{
        height: 80px;
    }
    /* CONTACTO */
    .contact_form{
        position: static;
        width: 100%;
        margin-top: 5%;
        margin-bottom: 5%;
        padding: 3%;
    }
    #form_title{
        padding-bottom: 1%;
    }
    #form_subtitle{
        padding-bottom: 3%;
        padding-left: 0;
    }
}